POSTGRES_USER=movie_search
POSTGRES_PASSWORD=movie_search
POSTGRES_DB=movie_search
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

DATABASE_URL="postgresql://movie_search:movie_search@localhost:5433/movie_search?schema=public"
